---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Header from "../components/Header.astro";
---

<Layout title="Welcome to Astro.">
	<main class="w-full h-full px-28 py-10 flex items-center justify-center flex-wrap-reverse">
		<div class="w-1/2"><img class="me-img aspect-square size-[28rem] rounded-xl" src="/public/me.jpg" alt="me"/></div>
		<div class="w-1/2 space-y-1">
			<h2 class="capitalize font-bold text-3xl text-green-500">mohammad alismael</h2>
			<p>I'm a driven individual fueled by curiosity, personal achievement, and continuous development. </p>
			<div class="space-x-4 py-4">
				<button class="bg-green-500 h-[36px] text-black capitalize font-bold px-6 py-1 rounded-xl hover:border-2 border-green-500 hover:text-green-500 hover:bg-inherit transition-all duration-300 ease-in-out">View Projects</button>
				<button class="border-2 border-green-500 text-green-500 capitalize font-bold px-6 py-1 rounded-xl">download CV</button>
			</div>
		</div>
	</main>
	<div>
		<Header />
	</div>
</Layout>

<style>
	@keyframes colorChange {
		0% {
			background-color: #34d399; /* Initial background color */
			width: 0; /* Initial width */
		}
		100% {
			background-color: #10b981; /* Final background color */
			width: 100%; /* Final width */
		}
	}

	.bg-animation {
		background-color: #34d399; /* Initial background color */
		transition: width 0.3s ease-in-out; /* Smooth transition for width */
		animation: colorChange 0.5s ease-in-out forwards; /* Animation */
	}

	.bg-animation:hover {
		background-color: #10b981; /* Hover background color */
	}
	.me-img{
		position: relative;


	}
	.me-img::before{
		content: 's';
		position: absolute;
		top: 0;
		left: 0;
		width: 10rem;
		background: aquamarine;
		z-index: 999;
	}
</style>
