---

---

<div class="h-20">
    <h2 class="header">projects</h2>

</div>

<style>
    .header{
        position: relative;
     color: greenyellow;
        font-size: 3rem;
        font-weight: 600;
        text-transform: capitalize;
        text-align: center;
    }
    .header::before{
        content: 'projects';
        position: absolute;
        //top: -1rem;
        //left: -2rem;
        padding-top: 1rem;
        color: greenyellow;
        opacity: 0.4;
        font-size: 4rem;
    }
</style>